* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  overflow: hidden;
}

.winner-found {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65) ),url(https://thumbs.gfycat.com/ChillyAnimatedEuropeanpolecat-size_restricted.gif);
  background-size: contain;
  background-attachment: fixed;
}

.winner-found .message-container {
  background: #9ee8ab;
  color: black;
  z-index: 1;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.47);
}

header {
  padding: 20px;
  background: #272343;
}

h1 {
  color: white;
  font-family: Audiowide, sans-serif;
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;
}

main {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.75fr repeat(2, 3fr) 0.75fr;
  grid-template-areas:
    "message message message"
    "player1 board player2"
    "player1 board player2";
}

li {
  color: black;
}

li.alive {
  background: none;
  color: #066b00;
}

li.dead {
  background: none;
  color: #c10000;
  text-decoration: line-through;
}

li.hit {
  background: none;
  color: red;
}

footer {
  min-height: 82px;
  background: black;
  color: white;
  padding: 20px;
}

.my-name {
  margin-left: auto;
  color: lightblue;
  font-weight: bold;
  font-size: 1.4em;
}

.my-name > a {
  color: #357c9e;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #73c5ec;
	font-size: 1.5em;
	font-weight: bold;
  z-index: 100;
}

.loading img {
  width: 500px;
  animation: floating 0.8s ease-in-out infinite alternate;
}

.loading span {
  margin-top: 50px;
}

.message-container {
  margin: 5px 0;
  grid-area: message;
  font-size: 2em;
  border-radius: 5px;
}

.player-info {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px;
  align-items: center;
  border-radius: 5px;
  background-color: #bae8e8;
  box-shadow: 2px 3px 5px 1px #00000021;
}

.player-info h2 {
  text-align: center;
}

.player1-info {
  grid-area: player1;
}

.player2-info {
  grid-area: player2;
}

.player-current {
  background-color: #93ebff;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.34);
  transform: scale(1.1);
  border: 5px solid #1ba6c5;
}

.ship-list {
  font-size: 1.5em;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 30px;
}

.minimap-container {
  margin-top: auto;
  margin-bottom: 10px;
}

.minimap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.minimap-container h3 {
  margin-bottom: 5px;
}

.minimap .cell {
  width: 15px;
  height: 15px;
}

.grid-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bae8e8;
  font-weight: bold;
  font-size: 3em;
}

.board {
  padding: 20px;
  margin: 0 20px;
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  min-width: 500px;
  box-shadow: 2px 3px 5px 1px #00000021;
  border-radius: 5px;
}

.cell {
  height: 50px;
  background: #e3f6f5;
}

.cell:hover {
  box-shadow: 0px 0px 2px 2px #bd06ff;
  cursor: pointer;
}

.head-coordinate {
  background-color: darkblue;
}

.water {
  background-color: #e3f6f5;
}

.alive {
  background-color: #3eff3e;
}

.hit {
  background-color: red;
}

.miss {
  background-color: #ffd800;
}

.dead {
  background-color: #330009;
}

.selected-shot {
  background-color: #bd06ff;
}

.modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.75);
}

.modal-inputs {
  position: relative;
  height: 70vh;
  width: 70vw;
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.modal-inputs input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  font-size: 1.4em;
  border-radius: 5px;
  border: 1px solid grey;
}

.modal-inputs button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #ffac45;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  z-index: 1;
  box-shadow: 3px 3px 4px 1px #00000047;
}

.modal-inputs button:hover {
  box-shadow: 1px 1px 3px 1px #00000070;
}

.page {
  display: none;
  flex-grow: 1;
}

.page h3 {
  font-size: 1.5em;
  font-weight: normal;
}

.page-current {
  display: block;
}

.strikeout {
  text-decoration: line-through;
}

.disclaimer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: red;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes floating {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
